<div>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container">
        <a href="index.html" class="navbar-brand"
            >Tunisia Charity <i class="fas fa-heart"></i></a>
        <button
            class="navbar-toggler"
            data-toggle="collapse"
            data-target="#navbarCollapse"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a routerLink="/home" routerLinkActivate="active" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/about" routerLinkActivate="active" class="nav-link">About Us</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/want to help" routerLinkActivate="active" class="nav-link">want to help</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/someone need help" routerLinkActivate="active" class="nav-link">someone needs help</a>
                </li>

                
            </ul>
        </div>
    </div>  
</nav>
<header id="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-6 m-auto text-center">
                <h1>About Us</h1>
              <p>   
                 If you need help during this Covid-19 crisis, we are here for you.
              </p>
            </div>
        </div>
    </div>
</header>
	<!-- About section -->
	<section class="about-section spad">
		<div class="container">
			<div class="row">
				<div class="col-md-6 about-content">
					<h2>Let's Make Our Tunisia Better Together</h2>
					<p>Tunisia Charity is a non-profit, non-governmental organization, subject to Decree No. 88 of September 24, 2011, its tax administration M1225475, aimed at serving the community through the concerted efforts of kind people to solve the problems of their societies and help the needy people.
                        <br> </p>
                    <p>The association works in the field of aid to people in emergency situations, as well as in the fields of sustainable development and the fight against poverty. The association also strives to spread the spirit of cooperation and solidarity among members of society and to encourage the personal and voluntary efforts of members of civil society.<br>
                        The association also creates charitable projects to care for the needy and help them rely on themselves to overcome the problems they face.

                    </p>
					<a routerLink="/home" routerLinkActivate="active" class="site-btn sb-wide">join with us</a>
                </div>
               
				<div class="col-md-6 about-img">
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
					<img src="assets/home/img/imag.webp" alt="">
				</div>
			</div>
		</div>
	</section>
	<!-- About section end -->

<!-- Services section -->
<section class="services-section spad">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="service-box">
                    <h4><i class="fa fa-fire"></i>Our Values</h4>
                    <p>loving your country is a duty that doesn't need to be learned.</p>
                    <a href="#" class="s-readmore">Readmore <i class="fa fa-angle-double-right"></i></a>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="service-box">
                    <h4><i class="fa fa-eye"></i>Our Vision</h4>
                    <p> helping needed persons by money, clothes, food,.. espacially during corona virus can make a difference </p>
                    <a href="#" class="s-readmore">Readmore <i class="fa fa-angle-double-right"></i></a>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="service-box">
                    <h4><i class="fa fa-heart"></i>Our Mission</h4>
                    <p>helping poor families who barely have the bare necessities to survive.</p>
                    <a href="#" class="s-readmore">Readmore <i class="fa fa-angle-double-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Services section end -->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
            <h2  style=" text-align: center">contact us</h2>
         <h3>email :</h3>   
    <p  > <strong>TunisiaCharity.org</strong></p>
    <h3>Tel :</h3>
    <p><strong> +216 99-999-999</strong></p>
        </div>
        <div class="col-sm-6">
           <br>
           
            <p> <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d204184.5440790557!2d10.1600101!3d36.9050941!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12fd331c3daaeadf%3A0xdf42efe84fa09771!2z2KzZhdi52YrYqSDYrtmK2LHZitipINix2K3Yp9ioINin2YTYrtmK2LE!5e0!3m2!1sfr!2stn!4v1589666682681!5m2!1sfr!2stn" width="900" height="250" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe></p>
          </div>
        </div>
</div>

 
</div>

<!-- FOOTER -->
<footer id="main-footer" class="text-center p-4">
    <div class="container">
        <div class="row">
            <div class="col"><p>Copyright &copy; Tunisia Charity</p></div>
        </div>
    </div>
</footer>


<!--====== Javascripts & Jquery ======-->
<script src="assets/js1/jquery-3.2.1.min.js"></script>
<script src="assets/js1/jquery.countdown.js"></script>
<script src="assets/js1/main.js"></script>
<!-- load for map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0YyDTa0qqOjIerob2VTIwo_XVMhrruxo"></script>
    
	<script src="assets/js1/map.js"></script>



