<div>
  
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container">
            <a href="index.html" class="navbar-brand"
                >Tunisia Charity <i class="fas fa-heart"></i></a>
            <button
                class="navbar-toggler"
                data-toggle="collapse"
                data-target="#navbarCollapse"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a routerLink="/home" routerLinkActivate="active" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/about" routerLinkActivate="active" class="nav-link">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/want to help" routerLinkActivate="active" class="nav-link">want to help</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/someone need help" routerLinkActivate="active" class="nav-link">someone needs help</a>
                    </li>

                    
                </ul>
            </div>
        </div>  
    </nav>
    <!-- SHOWCASE SLIDER -->
    <section id="showcase">
        
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li
                    data-target="#myCarousel"
                    data-slide-to="0"
                    class="active"
                ></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <div class="carousel-inner">
                <div class="carousel-item carousel-image-1 active">
                    <div class="container">
                        <div
                            class="carousel-caption d-none d-sm-block text-right mb-5"
                        >
                            <h1 class="display-3"></h1>
                            <p class="lead">
                                   Be the Change You Want to See in Tunisia
                            </p>
                            <a routerLink="/someone need help" routerLinkActivate="active" class="btn btn-danger btn-lg"
                                >Make a donate</a
                            >
                        </div>
                    </div>
                </div>

                <div class="carousel-item carousel-image-2">
                    <div class="container">
                        <div
                            class="carousel-caption d-none d-sm-block mb-5"
                        >
                            <h1 class="display-3">Reason of Helping</h1>
                            <p class="lead">
                                help  poor peopele and persons who lose their jobs because of CoronaVirus
                            </p>
                            <a routerLink="/want to help" routerLinkActivate="active"
                                class="btn btn-primary btn-lg"
                                >participate in volunteer work by a click</a
                            >
                        </div>
                    </div>
                </div>

                <div class="carousel-item carousel-image-3">
                    <div class="container">
                        <div
                            class="carousel-caption d-none d-sm-block text-right mb-5"
                        >
                            <h1 class="display-3">Help with a word</h1>
                            <p class="lead">
                                if you know a family needs help make a post and tell us her contact details
                            </p>
                            <a routerLink="/want to help" routerLinkActivate="active"
                                class="btn btn-success btn-lg"
                                >Collecting Fund</a
                            >
                        </div>
                    </div>
                </div>
            </div>

            <!-- SLIDER Arrows -->
            <a
                href="#myCarousel"
                data-slide="prev"
                class="carousel-control-prev"
            >
                <span class="carousel-control-prev-icon"></span>
            </a>

            <a
                href="#myCarousel"
                data-slide="next"
                class="carousel-control-next"
            >
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </section>

    <!-- HOME ICON SECTION -->
    <section id="home-icons" class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-4 mb-4 text-center">
                    <i class="far fa-heart fa-3x mb-2"></i>
                    <h3> IT’S GOOD FOR YOUR HEALTH</h3>
                    <p>
                        Studies have found that when you stop thinking about your own problems and focus on someone other than yourself,
                         your stress levels start to decrease. 
                    </p>
                </div>

                <div class="col-md-4 mb-4 text-center">
                    <i class="fas fa-smile-beam fa-3x mb-2"></i>
                    <h3>YOU’LL MAKE AN IMPACT</h3>
                    <p>
                        gives you the chance to contribute every day to
                       the kind of community and world you want to live in.
                    </p>
                </div>

                <div class="col-md-4 mb-4 text-center">
                        
                    <i class="fas fa-kiss-wink-heart fa-3x mb-2"></i>
                    <h3> YOU’LL GET INSPIRED</h3>
                    <p>
                    Taking a break, putting your life into perspective, and learning about other
                     people’s lives first might inspire an idea or spark an interest
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- HOME HEADING SECTION -->
    <section id="home-heading" class="p-5">
        <div class="dark-overlay">
            <div class="row">
                <div class="col">
                    <div class="container pt-5">
                        <h1>Are You Ready To Get Started?</h1>
                        <p class="d-none d-md-block">
                                Did you know volunteering is an excellent way to boost your career prospects?

                                It helps you create a positive impression, makes you more innovative,
                                 creative and gives you a range of useful skills. 
                                It’s not just us that believe this, recruiters do too!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- INFO SECTION -->
    <section id="info" class="py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-6 align-self-center">
                    <h3>Info Section</h3>
                    <p>
                            Tunisia Charity is a non-profit, non-governmental organization, subject to Decree No.
                             88 of September 24, 2011, its tax administration M1225475,
                             aimed at serving the community through the concerted efforts of kind people
                             to solve the problems of their societies and help the needy people.
                    </p>
                    <a
                     routerLink="/about" routerLinkActivate="active" 
                     class="btn btn-outline-danger btn-lg">
                     Learn More
                    </a>
                    
                
                </div>
                <div class="col-md-6">
                    <img src="img/laptop.jpg" alt="" class="img-fluid" />
                </div>
            </div>
        </div>
    </section>

    <!-- VIDEO PLAY -->
    <section id="video-play">
        <div class="dark-overlay">
            <div class="row">
                <div class="col">
                    <div class="container p-5">
                        <a
                            href="#"
                            class="video"
                            data-video="https://www.youtube.com/embed/VHIqcZbE_w8"
                            data-toggle="modal"
                            data-target="#videoModal"
                        >
                            <i class="fas fa-play fa-3x"></i>
                        </a>
                        <h1>See What We Do</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- PHOTO GALLERY -->
    <section id="gallery" class="py-5">
        <div class="container">
            <h1 class="text-center"> Volunteers</h1>
            <p class="text-center">Friendly Volunteer</p>
            <!-- 1st Row -->
            <div class="row mb-4">
                <div class="col-md-4">
                    
            <!-- 2nd Row -->
             <div class="row mb-4">
                <div class="col-md-4">
                   
             </div>
            </div>
          </div>
        </div>
    </div>
    </section>

    <!-- FOOTER -->
    <footer id="main-footer" class="text-center p-4">
        <div class="container">
            <div class="row">
                <div class="col"><p>Copyright &copy; Tunisia Charity</p></div>
            </div>
        </div>
    </footer>

    <!-- VIDEO MODAL -->
    <div class="modal fade" id="videoModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <button class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                    <iframe
                        src="#"
                        frameborder="0"
                        height="350"
                        width="100%"
                        allowfullscreen
                    ></iframe>
                </div>
            </div>
        </div>
    </div>

    

</div>





